---
# @see https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions
#
# Services feature of GitHub Actions isn't fit for our purposes for testing.
# We cannot overwrite arguments of ENTRYPOINT.
# @see https://docs.docker.com/engine/reference/commandline/create/#options
name: Test
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  lint:
    name: Lint
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'
          bundler-cache: true
      - name: Run rubocop
        run: bundle exec rubocop
  main:
    name: Main
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        redis: ['6.2.7', '7.0.1']
        ruby: ['3.1', '3.0', '2.7']
        #driver: ['ruby', 'hiredis'] # FIXME: freaky
        driver: ['ruby']
        docker: ['docker-compose.yaml', 'docker-compose.ssl.yaml', 'docker-compose.replica.yaml']
        os: ['ubuntu-latest']
    runs-on: ${{ matrix.os }}
    env:
      REDIS_VERSION: ${{ matrix.redis }}
      REDIS_CONNECTION_DRIVER: ${{ matrix.driver }}
      DOCKER_COMPOSE_FILE: ${{ matrix.docker }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Pull Docker images
        run: docker pull redis:$REDIS_VERSION
      - name: Run containers
        run: docker compose -f $DOCKER_COMPOSE_FILE up -d
      - name: Wait for Redis cluster to be ready
        run: bundle exec rake wait
      - name: Print containers
        run: docker compose -f $DOCKER_COMPOSE_FILE ps
      - name: Run minitest
        run: bundle exec rake test
      - name: Stop containers
        run: docker compose -f $DOCKER_COMPOSE_FILE down
